# Ignored Folders
_Work_Area/
cfg/

# Compiled ROM binaries, lists, objects, and scripts
*.bin
*.cim
*.lst
*.hex
*.bat
*.tmp
*.py
*.txt
*.exe
*Ω*

# Exceptions for required tools
!tools/
!tools/.gitkeep

# Exceptions for required scripts
!src/build.bat

# OS generated hidden files
.DS_Store
Thumbs.db
roms/
